//output:../build/index.html
<!DOCTYPE html>
html(lang="en")
head
  title Cards
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  header
  .body
    .cards
      .card1
        img(src="assets/img/card.jpg", alt="card")
        .text
          h1 Lorem ipsum
          p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed leo risus. 
          
      .card1
        img(src="assets/img/card.jpg", alt="card")
        .text
          h1 Lorem ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed leo risus. 
          
    
          
  footer
  script(src="./assets/js/jquery-2.2.4.min.js")
  script(src="./assets/js/functions.js")
